<h1>Editing competitor</h1>

<%= render 'form' %>

<%= link_to raw("<i class='icon-search'></i> Show"), @competitor, :class => 'btn' %>
<%= link_to raw("<i class='icon-th-list icon-white'></i> Back"), competitors_path, :class => 'btn btn-primary' %>
